---
http_interactions:
- request:
    method: get
    uri: http://api.51convert.cn/security/accesstoken?appid=<APPID>&grant_type=client_credentials&secret=<SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"error_code":0,"access_token":"684c2edfd4f7343413ca5d47d1f95629","expires_in":7200}'
  recorded_at: Wed, 20 Apr 2016 16:48:49 GMT
- request:
    method: post
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=<ACCESSTOKEN>
    body:
      encoding: UTF-8
      string: '{"type":"RBSDK_TEST_CHANNEL","customerId":3021200,"userId":"u3021200","name":"bernie"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":null,"att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3021200,"dateCreated":"2016-04-20T16:48:50Z","externalId":null,"gender":0,"id":24439,"img":null,"lastUpdated":"2016-04-20T16:48:50Z","location":null,"name":"bernie","province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3021200","userName":null}'
  recorded_at: Wed, 20 Apr 2016 16:48:50 GMT
[...]
- request:
    method: get
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=<ACCESSTOKEN>&att1=Feel%20the%20Bern!&userId=u3021200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '[{"account":null,"att1":"Feel the Bern!","att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3021200,"dateCreated":"2016-04-20T16:48:52Z","externalId":null,"gender":0,"id":24441,"img":null,"lastUpdated":"2016-04-20T16:48:52Z","location":null,"name":"bernie","province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3021200","userName":null}]'
  recorded_at: Wed, 20 Apr 2016 16:48:53 GMT
- request:
    method: get
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=<ACCESSTOKEN>&userId=u3021200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '[{"account":null,"att1":null,"att2":null,"att3":null,"att4":null,"att5":null,[...]
- request:
    method: delete
    uri: http://api.51convert.cn/v1/channelaccounts/24439?access_token=<ACCESSTOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Apr 2016 16:48:55 GMT
[...]
- request:
    method: delete
    uri: http://api.51convert.cn/v1/channelaccounts/24441?access_token=<ACCESSTOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Apr 2016 16:48:56 GMT
recorded_with: VCR 3.0.1
