---
http_interactions:
- request:
    method: get
    uri: http://api.51convert.cn/security/accesstoken?appid=<APPID>&grant_type=client_credentials&secret=<SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"error_code":0,"access_token":"249b524e11b249c98a02d01e79143482","expires_in":7200}'
  recorded_at: Wed, 20 Apr 2016 16:48:46 GMT
- request:
    method: post
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=<ACCESSTOKEN>
    body:
      encoding: UTF-8
      string: '{"type":"RBSDK_TEST_CHANNEL","customerId":2781890,"userId":"u2781890"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":null,"att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":2781890,"dateCreated":"2016-04-20T16:48:47Z","externalId":null,"gender":0,"id":24438,"img":null,"lastUpdated":"2016-04-20T16:48:47Z","location":null,"name":null,"province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u2781890","userName":null}'
  recorded_at: Wed, 20 Apr 2016 16:48:47 GMT
- request:
    method: delete
    uri: http://api.51convert.cn/v1/channelaccounts/24438?access_token=<ACCESSTOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Apr 2016 16:48:48 GMT
- request:
    method: get
    uri: http://api.51convert.cn/v1/channelaccounts/24438?access_token=<ACCESSTOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"error_code":40201,"error_description":"permission is not enough"}'
  recorded_at: Wed, 20 Apr 2016 16:48:49 GMT
recorded_with: VCR 3.0.1
