---
http_interactions:
- request:
    method: get
    uri: http://api.51convert.cn/security/accesstoken?appid=cl03091540aeb085c&grant_type=client_credentials&secret=6ddd11a9405219f7100853784bef45261b250ce2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"error_code":0,"access_token":"da9de42ee1907d149882fb127274e2b6","expires_in":7200}'
  recorded_at: Sat, 16 Apr 2016 12:12:48 GMT
- request:
    method: post
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=da9de42ee1907d149882fb127274e2b6
    body:
      encoding: UTF-8
      string: '{"type":"RBSDK_TEST_CHANNEL","customerId":3425983,"userId":"u3425983"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":null,"att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3425983,"dateCreated":"2016-04-16T12:12:49Z","externalId":null,"gender":0,"id":24349,"img":null,"lastUpdated":"2016-04-16T12:12:49Z","location":null,"name":null,"province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3425983","userName":null}'
  recorded_at: Sat, 16 Apr 2016 12:12:49 GMT
- request:
    method: delete
    uri: http://api.51convert.cn/v1/channelaccounts/24349?access_token=da9de42ee1907d149882fb127274e2b6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 16 Apr 2016 12:12:50 GMT
- request:
    method: get
    uri: http://api.51convert.cn/v1/channelaccounts/24349?access_token=da9de42ee1907d149882fb127274e2b6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"error_code":40201,"error_description":"permission is not enough"}'
  recorded_at: Sat, 16 Apr 2016 12:12:51 GMT
recorded_with: VCR 3.0.1
