---
http_interactions:
- request:
    method: get
    uri: http://api.51convert.cn/security/accesstoken?appid=APPID&grant_type=client_credentials&secret=SECRET
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"error_code":0,"access_token":"d778d8f7f99c87c1c3e1ed36ACCESSTOKEN","expires_in":7200}'
  recorded_at: Sat, 23 Apr 2016 08:06:25 GMT
- request:
    method: post
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=ACCESSTOKEN
    body:
      encoding: UTF-8
      string: '{"type":"RBSDK_TEST_CHANNEL","customerId":2198516,"userId":"u2198516"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":null,"att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":2198516,"dateCreated":"2016-04-23T08:06:25Z","externalId":null,"gender":0,"id":24498,"img":null,"lastUpdated":"2016-04-23T08:06:25Z","location":null,"name":null,"province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u2198516","userName":null}'
  recorded_at: Sat, 23 Apr 2016 08:06:26 GMT
[...]
- request:
    method: delete
    uri: http://api.51convert.cn/v1/channelaccounts/24498?access_token=ACCESSTOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 23 Apr 2016 08:06:27 GMT
[...]
- request:
    method: get
    uri: http://api.51convert.cn/v1/channelaccounts/24498?access_token=ACCESSTOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"error_code":40201,"error_description":"permission is not enough"}'
  recorded_at: Sat, 23 Apr 2016 08:06:29 GMT
recorded_with: VCR 3.0.1
