---
http_interactions:
- request:
    method: get
    uri: http://api.51convert.cn/security/accesstoken?appid=<APPID>&grant_type=client_credentials&secret=<SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"error_code":0,"access_token":"db8bfa6cb6c935ca63b3b1064e525ca7","expires_in":7200}'
  recorded_at: Wed, 20 Apr 2016 16:48:57 GMT
- request:
    method: post
    uri: http://api.51convert.cn/v1/customers?access_token=<ACCESSTOKEN>
    body:
      encoding: UTF-8
      string: '{"name":"guru","mobile":"13911223366","email":"guru@jungle.cc","external_id":"XYZ1234"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"acceptEmail":false,"acceptSMS":false,"annualRevenue":null,"birthday":null,"campaignId":null,"campaignName":null,"city":null,"code":null,"company":null,"contentName":null,"country":null,"county":null,"createFrom":null,"createFromName":null,"createMethod":null,"dateCreated":"2016-04-20T16:48:58Z","dateJoin":"2016-04-20T16:48:58Z","dateMemberReg":null,"email":"guru@jungle.cc","emailVerified":false,"employeeNumber":null,"externalId":null,"gender":0,"homeAddress":null,"id":329120,"img":null,"industry":null,"isAnonymous":false,"isEmployee":false,"isMember":false,"isReferrer":false,"lastUpdated":"2016-04-20T16:48:58Z","latestEngageDate":null,"membershipLevel":null,"membershipNo":null,"membershipScore":null,"mobile":"13911223366","mobileVerified":false,"name":"guru","nickName":null,"notAcceptEmail":false,"notAcceptSMS":false,"officeAddress":null,"ownerId":null,"ownerName":null,"postcode":null,"province":null,"qq":null,"referrer":null,"referrerName":null,"region":null,"remark":null,"source":null,"stage":null,"status":null,"street":null,"tags":null,"telephone":null,"title":null,"type":null,"typeName":null,"updateMethod":null,"utmMedium":null,"utmTerm":null,"website":null,"wechat":null,"wechatCity":null,"wechatNickName":null,"weibo":null}'
  recorded_at: Wed, 20 Apr 2016 16:48:58 GMT
[...]
- request:
    method: get
    uri: http://api.51convert.cn/v1/customers?access_token=<ACCESSTOKEN>&mobile=13911223366
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"records":1,"rows":[{"acceptEmail":false,"acceptSMS":false,"annualRevenue":null,"birthday":null,"campaignId":null,"campaignName":null,"city":null,"code":null,"company":null,"contentName":null,"country":null,"county":null,"createFrom":null,"createFromName":null,"createMethod":null,"dateCreated":"2016-04-20T16:48:58Z","dateJoin":"2016-04-20T16:48:59Z","dateMemberReg":null,"email":"guru@jungle.co","emailVerified":false,"employeeNumber":null,"externalId":null,"gender":0,"homeAddress":null,"id":329120,"img":null,"industry":null,"isAnonymous":false,"isEmployee":false,"isMember":false,"isReferrer":false,"lastUpdated":"2016-04-20T16:49:00Z","latestEngageDate":null,"membershipLevel":null,"membershipNo":null,"membershipScore":null,"mobile":"13911223366","mobileVerified":false,"name":"fake
        guru","nickName":null,"notAcceptEmail":false,"notAcceptSMS":false,"officeAddress":null,"ownerId":null,"ownerName":null,"postcode":null,"province":null,"qq":null,"referrer":null,"referrerName":null,"region":null,"remark":null,"source":null,"stage":null,"status":null,"street":null,"tags":null,"telephone":null,"title":null,"type":null,"typeName":null,"updateMethod":null,"utmMedium":null,"utmTerm":null,"website":null,"wechat":null,"wechatCity":null,"wechatNickName":null,"weibo":null}],"total":1}'
  recorded_at: Wed, 20 Apr 2016 16:49:00 GMT
- request:
    method: delete
    uri: http://api.51convert.cn/v1/customers/329120?access_token=<ACCESSTOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 20 Apr 2016 16:49:04 GMT
- request:
    method: get
    uri: http://api.51convert.cn/v1/customers/329120?access_token=<ACCESSTOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"error_code":40201,"error_description":"permission is not enough"}'
  recorded_at: Wed, 20 Apr 2016 16:49:05 GMT
recorded_with: VCR 3.0.1
