---
http_interactions:
- request:
    method: get
    uri: http://api.51convert.cn/security/accesstoken?appid=APPID&grant_type=client_credentials&secret=SECRET
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"error_code":0,"access_token":"09ed057e57c4dde597ef299fACCESSTOKEN","expires_in":7200}'
  recorded_at: Sun, 24 Apr 2016 04:49:15 GMT
- request:
    method: post
    uri: http://api.51convert.cn/v1/deals?access_token=ACCESSTOKEN
    body:
      encoding: UTF-8
      string: '{"channelAccount":"TEST_CHANNEL","channelType":"sales_order","externalId":"12234","customerId":"531","targetId":"531","source":"TEST_CHANNEL","attr1":"headache"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"amountDiscount":null,"amountPaid":null,"amountRefund":null,"amountReturn":null,"amountTax":null,"amountTotal":null,"attr1":"headache","contactName":null,"contactTel":null,"currency":null,"customerId":531,"customerName":null,"dateLastModify":null,"dateOrder":null,"deliveryStatus":null,"externalId":"12234","externalInvoiceId":null,"externalPartnerId":null,"externalPickingId":null,"groupId":null,"id":50421,"invoiceAddress":null,"lines":null,"name":null,"paymentNo":null,"paymentStatus":null,"paymentTerm":null,"remark":null,"shippingAddress":null,"shippingMethod":null,"state":null,"type":null,"userId":null,"userName":null}'
  recorded_at: Sun, 24 Apr 2016 04:49:16 GMT
- request:
    method: put
    uri: http://api.51convert.cn/v1/deals/50421?access_token=ACCESSTOKEN
    body:
      encoding: UTF-8
      string: '{"attr1":"happy"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"amountDiscount":null,"amountPaid":null,"amountRefund":null,"amountReturn":null,"amountTax":null,"amountTotal":null,"attr1":"happy","contactName":null,"contactTel":null,"currency":null,"customerId":531,"customerName":null,"dateLastModify":null,"dateOrder":null,"deliveryStatus":null,"externalId":"12234","externalInvoiceId":null,"externalPartnerId":null,"externalPickingId":null,"groupId":null,"id":50421,"invoiceAddress":null,"lines":null,"name":null,"paymentNo":null,"paymentStatus":null,"paymentTerm":null,"remark":null,"shippingAddress":null,"shippingMethod":null,"state":null,"type":null,"userId":null,"userName":null}'
  recorded_at: Sun, 24 Apr 2016 04:49:17 GMT
- request:
    method: delete
    uri: http://api.51convert.cn/v1/deals/50421?access_token=ACCESSTOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 24 Apr 2016 04:49:18 GMT
recorded_with: VCR 3.0.1
