---
http_interactions:
- request:
    method: get
    uri: http://api.51convert.cn/security/accesstoken?appid=APPID&grant_type=client_credentials&secret=SECRET
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"error_code":0,"access_token":"9156ae44f55afc6d10f98949ACCESSTOKEN","expires_in":7200}'
  recorded_at: Thu, 21 Apr 2016 13:03:37 GMT
- request:
    method: post
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=ACCESSTOKEN
    body:
      encoding: UTF-8
      string: '{"type":"RBSDK_TEST_CHANNEL","customerId":2046283,"userId":"u2046283"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":null,"att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":2046283,"dateCreated":"2016-04-21T13:03:38Z","externalId":null,"gender":0,"id":24478,"img":null,"lastUpdated":"2016-04-21T13:03:38Z","location":null,"name":null,"province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u2046283","userName":null}'
  recorded_at: Thu, 21 Apr 2016 13:03:38 GMT
- request:
    method: delete
    uri: http://api.51convert.cn/v1/channelaccounts/24478?access_token=ACCESSTOKEN
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 Apr 2016 13:03:39 GMT
- request:
    method: get
    uri: http://api.51convert.cn/v1/channelaccounts/24478?access_token=ACCESSTOKEN
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"error_code":40201,"error_description":"permission is not enough"}'
  recorded_at: Thu, 21 Apr 2016 13:03:40 GMT
recorded_with: VCR 3.0.1
