---
http_interactions:
- request:
    method: get
    uri: http://api.51convert.cn/security/accesstoken?appid=<APPID>&grant_type=client_credentials&secret=<SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"error_code":0,"access_token":"26739ee27ab0eda707fa2c2b<ACCESSTOKEN>","expires_in":7200}'
  recorded_at: Thu, 21 Apr 2016 13:03:41 GMT
- request:
    method: post
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=<ACCESSTOKEN>
    body:
      encoding: UTF-8
      string: '{"type":"RBSDK_TEST_CHANNEL","customerId":3194063,"userId":"u3194063","att1":"Make
        America great again."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":"Make America great again.","att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3194063,"dateCreated":"2016-04-21T13:03:41Z","externalId":null,"gender":0,"id":24479,"img":null,"lastUpdated":"2016-04-21T13:03:41Z","location":null,"name":null,"province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3194063","userName":null}'
  recorded_at: Thu, 21 Apr 2016 13:03:42 GMT
- request:
    method: put
    uri: http://api.51convert.cn/v1/channelaccounts/24479?access_token=<ACCESSTOKEN>
    body:
      encoding: UTF-8
      string: '{"att1":"You''re fired!"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":"You''re fired!","att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3194063,"dateCreated":"2016-04-21T13:03:42Z","externalId":null,"gender":0,"id":24479,"img":null,"lastUpdated":"2016-04-21T13:03:42Z","location":null,"name":null,"province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3194063","userName":null}'
  recorded_at: Thu, 21 Apr 2016 13:03:42 GMT
[...]
- request:
    method: delete
    uri: http://api.51convert.cn/v1/channelaccounts/24479?access_token=<ACCESSTOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 Apr 2016 13:03:44 GMT
recorded_with: VCR 3.0.1
