---
http_interactions:
- request:
    method: get
    uri: http://api.51convert.cn/security/accesstoken?appid=APPID&grant_type=client_credentials&secret=SECRET
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"error_code":0,"access_token":"238f965ba019cfac63533dc2ACCESSTOKEN","expires_in":7200}'
  recorded_at: Thu, 21 Apr 2016 13:03:53 GMT
- request:
    method: post
    uri: http://api.51convert.cn/v1/customerevents?access_token=ACCESSTOKEN
    body:
      encoding: UTF-8
      string: '{"channelAccount":"TEST_CHANNEL","channelType":"sales_order","externalId":"12234","customerId":"531","targetId":"531","source":"TEST_CHANNEL","attr1":"headache"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"attr1":"headache","attr2":null,"attr3":null,"attr4":null,"attr5":null,"batchId":null,"campaign":null,"campaignName":null,"channelAccount":"TEST_CHANNEL","channelType":"sales_order","contentName":null,"customerId":531,"date":"2016-04-21T13:03:54Z","device":null,"employee":null,"event":null,"eventGroup":null,"externalId":"12234","id":1059132,"inbound":true,"internalContentId":null,"lastForwarder":null,"lastUpdated":"2016-04-21T13:03:54Z","location":null,"pageId":null,"refScore":0,"referrer":null,"referrerName":null,"score":0,"source":"TEST_CHANNEL","summary":null,"tag":null,"targetId":"531","targetName":null}'
  recorded_at: Thu, 21 Apr 2016 13:03:55 GMT
- request:
    method: put
    uri: http://api.51convert.cn/v1/customerevents/1059132?access_token=ACCESSTOKEN
    body:
      encoding: UTF-8
      string: '{"attr1":"happy"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"attr1":"happy","attr2":null,"attr3":null,"attr4":null,"attr5":null,"batchId":null,"campaign":null,"campaignName":null,"channelAccount":"TEST_CHANNEL","channelType":"sales_order","contentName":null,"customerId":531,"date":"2016-04-21T13:03:54Z","device":null,"employee":null,"event":"default","eventGroup":null,"externalId":"12234","id":1059132,"inbound":true,"internalContentId":null,"lastForwarder":null,"lastUpdated":"2016-04-21T13:03:56Z","location":null,"pageId":null,"refScore":0,"referrer":null,"referrerName":null,"score":0,"source":"TEST_CHANNEL","summary":null,"tag":null,"targetId":"531","targetName":null}'
  recorded_at: Thu, 21 Apr 2016 13:03:56 GMT
- request:
    method: delete
    uri: http://api.51convert.cn/v1/customerevents/1059132?access_token=ACCESSTOKEN
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 Apr 2016 13:03:57 GMT
recorded_with: VCR 3.0.1
