---
http_interactions:
- request:
    method: get
    uri: http://api.51convert.cn/security/accesstoken?appid=<APPID>&grant_type=client_credentials&secret=<SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"error_code":0,"access_token":"99dafd497a886b305c6b4da3<ACCESSTOKEN>","expires_in":7200}'
  recorded_at: Thu, 21 Apr 2016 13:03:18 GMT
- request:
    method: get
    uri: http://api.51convert.cn/security/accesstoken?appid=<APPID>&grant_type=client_credentials&secret=<SECRET>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"error_code":0,"access_token":"935dfcb9d6e69f8563a86353<ACCESSTOKEN>","expires_in":7200}'
  recorded_at: Thu, 21 Apr 2016 13:03:19 GMT
recorded_with: VCR 3.0.1
