---
http_interactions:
- request:
    method: get
    uri: http://api.51convert.cn/security/accesstoken?appid=cl03091540aeb085c&grant_type=client_credentials&secret=6ddd11a9405219f7100853784bef45261b250ce2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"error_code":0,"access_token":"8f92483d6e80547d0e1c59d5cbf6f504","expires_in":7200}'
  recorded_at: Sat, 16 Apr 2016 12:13:01 GMT
- request:
    method: post
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=8f92483d6e80547d0e1c59d5cbf6f504
    body:
      encoding: UTF-8
      string: '{"type":"RBSDK_TEST_CHANNEL","customerId":3954370,"userId":"u3954370","att1":"Make
        America great again."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":"Make America great again.","att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3954370,"dateCreated":"2016-04-16T12:13:01Z","externalId":null,"gender":0,"id":24353,"img":null,"lastUpdated":"2016-04-16T12:13:01Z","location":null,"name":null,"province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3954370","userName":null}'
  recorded_at: Sat, 16 Apr 2016 12:13:02 GMT
- request:
    method: put
    uri: http://api.51convert.cn/v1/channelaccounts/24353?access_token=8f92483d6e80547d0e1c59d5cbf6f504
    body:
      encoding: UTF-8
      string: '{"att1":"You''re fired!"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":"You''re fired!","att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3954370,"dateCreated":"2016-04-16T12:13:02Z","externalId":null,"gender":0,"id":24353,"img":null,"lastUpdated":"2016-04-16T12:13:02Z","location":null,"name":null,"province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3954370","userName":null}'
  recorded_at: Sat, 16 Apr 2016 12:13:03 GMT
[...]
- request:
    method: delete
    uri: http://api.51convert.cn/v1/channelaccounts/24353?access_token=8f92483d6e80547d0e1c59d5cbf6f504
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 16 Apr 2016 12:13:04 GMT
recorded_with: VCR 3.0.1
