---
http_interactions:
- request:
    method: post
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=f487150d728b427b5b0763ad036dac6e
    body:
      encoding: UTF-8
      string: '{"type":"RBSDK_TEST_CHANNEL","customerId":3021299,"userId":"u3021299","name":"bernie"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":null,"att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3021299,"dateCreated":"2016-04-16T06:29:41Z","externalId":null,"gender":0,"id":24316,"img":null,"lastUpdated":"2016-04-16T06:29:41Z","location":null,"name":"bernie","province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3021299","userName":null}'
  recorded_at: Sat, 16 Apr 2016 06:29:41 GMT
[...]
- request:
    method: get
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=f487150d728b427b5b0763ad036dac6e&att1=Feel%20the%20Bern!&userId=u3021299
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '[{"account":null,"att1":"Feel the Bern!","att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3021299,"dateCreated":"2016-04-16T06:29:43Z","externalId":null,"gender":0,"id":24318,"img":null,"lastUpdated":"2016-04-16T06:29:42Z","location":null,"name":"bernie","province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3021299","userName":null}]'
  recorded_at: Sat, 16 Apr 2016 06:29:44 GMT
- request:
    method: get
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=f487150d728b427b5b0763ad036dac6e&userId=u3021299
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '[{"account":null,"att1":null,"att2":null,"att3":null,"att4[...]
- request:
    method: get
    uri: http://api.51convert.cn/v1/channelaccounts/24316?access_token=f487150d728b427b5b0763ad036dac6e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":null,"att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3021299,"dateCreated":"2016-04-16T06:29:41Z","externalId":null,"gender":0,"id":24316,"img":null,"lastUpdated":"2016-04-16T06:29:41Z","location":null,"name":"bernie","province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3021299","userName":null}'
  recorded_at: Sat, 16 Apr 2016 06:29:45 GMT
[...]
- request:
    method: get
    uri: http://api.51convert.cn/v1/channelaccounts/24318?access_token=f487150d728b427b5b0763ad036dac6e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":"Feel the Bern!","att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3021299,"dateCreated":"2016-04-16T06:29:43Z","externalId":null,"gender":0,"id":24318,"img":null,"lastUpdated":"2016-04-16T06:29:42Z","location":null,"name":"bernie","province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3021299","userName":null}'
  recorded_at: Sat, 16 Apr 2016 06:29:47 GMT
recorded_with: VCR 3.0.1
