---
http_interactions:
- request:
    method: get
    uri: http://api.51convert.cn/security/accesstoken?appid=cl03091540aeb085c&grant_type=client_credentials&secret=6ddd11a9405219f7100853784bef45261b250ce2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"error_code":0,"access_token":"497b93753fa5260fda25bf12cc450012","expires_in":7200}'
  recorded_at: Sat, 16 Apr 2016 12:12:52 GMT
- request:
    method: post
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=497b93753fa5260fda25bf12cc450012
    body:
      encoding: UTF-8
      string: '{"type":"RBSDK_TEST_CHANNEL","customerId":3021200,"userId":"u3021200","name":"bernie"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":null,"att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3021200,"dateCreated":"2016-04-16T12:12:53Z","externalId":null,"gender":0,"id":24350,"img":null,"lastUpdated":"2016-04-16T12:12:53Z","location":null,"name":"bernie","province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3021200","userName":null}'
  recorded_at: Sat, 16 Apr 2016 12:12:53 GMT
[...]
- request:
    method: get
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=497b93753fa5260fda25bf12cc450012&att1=Feel%20the%20Bern!&userId=u3021200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '[{"account":null,"att1":"Feel the Bern!","att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3021200,"dateCreated":"2016-04-16T12:12:55Z","externalId":null,"gender":0,"id":24352,"img":null,"lastUpdated":"2016-04-16T12:12:55Z","location":null,"name":"bernie","province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3021200","userName":null}]'
  recorded_at: Sat, 16 Apr 2016 12:12:56 GMT
- request:
    method: get
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=497b93753fa5260fda25bf12cc450012&userId=u3021200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '[{"account":null,"att1":null,"att2":null,"att3":null,"att4[...]
- request:
    method: delete
    uri: http://api.51convert.cn/v1/channelaccounts/24350?access_token=497b93753fa5260fda25bf12cc450012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 16 Apr 2016 12:12:58 GMT
[...]
- request:
    method: delete
    uri: http://api.51convert.cn/v1/channelaccounts/24352?access_token=497b93753fa5260fda25bf12cc450012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 16 Apr 2016 12:13:00 GMT
recorded_with: VCR 3.0.1
