---
http_interactions:
- request:
    method: post
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=f487150d728b427b5b0763ad036dac6e
    body:
      encoding: UTF-8
      string: '{"type":"RBSDK_TEST_CHANNEL","customerId":2967596,"userId":"u2967596"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":null,"att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":2967596,"dateCreated":"2016-04-16T06:29:38Z","externalId":null,"gender":0,"id":24315,"img":null,"lastUpdated":"2016-04-16T06:29:38Z","location":null,"name":null,"province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u2967596","userName":null}'
  recorded_at: Sat, 16 Apr 2016 06:29:38 GMT
- request:
    method: delete
    uri: http://api.51convert.cn/v1/channelaccounts/24315?access_token=f487150d728b427b5b0763ad036dac6e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 16 Apr 2016 06:29:39 GMT
- request:
    method: get
    uri: http://api.51convert.cn/v1/channelaccounts/24315?access_token=f487150d728b427b5b0763ad036dac6e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Server Error
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: '{"error_code":40201,"error_description":"permission is not enough"}'
  recorded_at: Sat, 16 Apr 2016 06:29:40 GMT
recorded_with: VCR 3.0.1
