---
http_interactions:
- request:
    method: get
    uri: http://api.51convert.cn/security/accesstoken?appid=APPID&grant_type=client_credentials&secret=SECRET
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"error_code":0,"access_token":"5826a0147f11e0f3c5593485ACCESSTOKEN","expires_in":7200}'
  recorded_at: Sat, 23 Apr 2016 08:06:30 GMT
- request:
    method: post
    uri: http://api.51convert.cn/v1/channelaccounts?access_token=ACCESSTOKEN
    body:
      encoding: UTF-8
      string: '{"type":"RBSDK_TEST_CHANNEL","customerId":3894780,"userId":"u3894780","att1":"Make
        America great again."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":"Make America great again.","att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3894780,"dateCreated":"2016-04-23T08:06:31Z","externalId":null,"gender":0,"id":24499,"img":null,"lastUpdated":"2016-04-23T08:06:31Z","location":null,"name":null,"province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3894780","userName":null}'
  recorded_at: Sat, 23 Apr 2016 08:06:31 GMT
[...]
- request:
    method: put
    uri: http://api.51convert.cn/v1/channelaccounts/24499?access_token=ACCESSTOKEN
    body:
      encoding: UTF-8
      string: '{"att1":"You''re fired!"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: '{"account":null,"att1":"You''re fired!","att2":null,"att3":null,"att4":null,"att5":null,"city":null,"country":null,"customerId":3894780,"dateCreated":"2016-04-23T08:06:31Z","externalId":null,"gender":0,"id":24499,"img":null,"lastUpdated":"2016-04-23T08:06:33Z","location":null,"name":null,"province":null,"subscribe":false,"type":"RBSDK_TEST_CHANNEL","userId":"u3894780","userName":null}'
  recorded_at: Sat, 23 Apr 2016 08:06:33 GMT
[...]
- request:
    method: delete
    uri: http://api.51convert.cn/v1/channelaccounts/24499?access_token=ACCESSTOKEN
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - text/html;charset=utf-8
      X-Application-Context:
      - application:test:8015
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 23 Apr 2016 08:06:37 GMT
recorded_with: VCR 3.0.1
